@font-face {
	font-family: 'fridaysregular';
		src: url('Font/fridays-webfont.woff') format('woff'),
			 url('Font/fridays-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

body {
	font-family: Calibri;
	margin: auto;	
}

nav {
	line-height: 2.5;
	
}

#main {
	background-color: #99CCFF;
	
}



.footer {
	line-height: 1.75;
}	
.header {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
}

.nav {
	background-color:white;
}

h1.header {
	text-align: center;
	font-family: 'fridaysregular';
	color: #CC6666
}

.hyperlinks {
	word-spacing: 30px;
	margin-left: 20px
}

p {
	line-height: 1;
	width: 450px;
	margin: auto;
}


.paddingBetweenCols td {
			padding:0 150px 0 150px
		}